# Dependencies
node_modules/

# Build output
lib/
dist/
*.tsbuildinfo

# Firebase
.firebase/

# Logs
*.log

# Coverage
coverage/
.nyc_output/

# Environment
.env
.env.*

# Package files
package-lock.json